/*
  place custom CSS definitions into this file to override Bootstrap
*/
body {
    margin-top: 3%;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

nav {
    float: left;
    width: 15%;
    font-size: 110%;
    margin-bottom: 10%;
    margin-left: 1%;
    margin-right: 1%;

}


nav li {
	list-style: none;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 5%;
    margin-left: 10%;
    width: 50%;
    text-align: center;
}

#pagination td {
    margin: 10px;
    display: inline-block;
}

.table {
    text-align: center;
}
.div {
    text-align: left;
}

.container {
    width: 65%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.background {
    background-color: #A9A9A9;
    width: 100%;
}
