{extends layout.latte}

{block title} {$header} {/block}


{block body}
<div class="container">
   <h1>{$header}</h1>
   <!-- <span>{$person['first_name']}</span><span> </span><span>{$person['last_name']}</span> -->
   
   <!-- Sem vypiseme pripadnu hlasku -->
   {if isset($message)}
   <p>{$message}</p>
   {/if}
   <form method="post">
      <div class="form-row">

         <div class="col-sm-3">
            <div class="form-group">
               <label for="contactType" style="font-weight: bold;">Contact type</label>

               <select class="form-control" name="id_contact_type">
                  {foreach $contact as $c}
                     <option value={$c['id_contact_type']}><span>{$c['name']}</span></option>
                  {/foreach}
               </select>

            </div> 
         </div>
         <div class="col-sm-3">
            <div class="form-group">
               <label for="description" style="font-weight: bold;">Contact</label>
               <input class="form-control" type="text" name="contact" placeholder="novak.petr@email.cz, www., ..." required>
            </div> 
         </div>                      
      </div>
      <br>
      <button type="submit" class="btn btn-success">
         <span><i class="fas fa-user-plus"></i> Add new contact</span> 
      </button>
              
</div>
{/block}
