{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <div class="container">
        <div>
        <h1>Web application</h1>
        <p style="font-size:120%;">This aplication was made to store information about persons. Their name, birthday, addresses, relationships and meetings. We store these information into the university database.</p>
        <p style="font-size:130%;">You can see the list of all persons or add a new one and other. Go ahead!</p>

        <a class="btn btn-lg btn-primary" href="{link persons}"><i class="fas fa-users"></i> Persons</a>
        <a class="btn btn-lg btn-primary" href="{link newPerson}"><i class="fas fa-user-plus"></i> Add new person</a>
        </div>

        <img src="https://akela.mendelu.cz/~xkoryta1/apv_prace/.png"
           style= ";
               width: 55%;
               height: 55%;
               margin: 5%;
               bottom: 0;">
    </div>

  <!--      
        <form action="{link redir}" method="post">
            <label>Type your name:</label>
            <input class="form-control" type="text" name="person" />
            <br />
            <button type="submit" class="btn btn-primary">
                <span class="fa fa-check"></span> OK
            </button>
        </form>
    -->

    </div>
{/block}
 
