{extends layout.latte}

{block title}
    Person info
{/block}

{block body}
    <div class="container text-center">
        <h2 class="m-3">Information</h2>
        <div class="d-flex justify-content-center">
            <div class="border w-50 shadow pb-2">
                <div class="border background">
                    <h3 class="pb-2 pt-2"><i class="fas fa-user"></i> Person info</h3>
                    <div class="col-3 d-flex align-items-center">
                    <a href="{link updatePerson, [id_person => $person['id_person'] ] }">
                        <button class="btn btn-info">
                            <span class="fa fa-edit"></span> Edit
                        </button>
                    </a> 
                    </div>
                </div> 
                                            
                <table class='table table-hover table-striped'>                     
                    <tr>
                        <th style="font-weight: bold;"><i class="fas fa-signature"></i> Name</th>
                        <td><span>{$person['first_name']}</span><span> </span><span>{$person['last_name']}</span></td>
                    </tr>

                    <tr>                
                        <th style="font-weight: bold;"><i class="fas fa-hashtag"></i> Nickname</th>
                        <td><span>{$person['nickname']}</span></td>
                    </tr>

                    <tr>
                        <th style="font-weight: bold;"><i class="fas fa-venus-mars"></i> Gender</th>
                        <td><span>{$person['gender']}</span></td>
                    </tr>

                    <tr>
                        <th style="font-weight: bold;"><i class="fas fa-arrows-alt-v"></i> Height</th>
                        <td><span>{$person['height']}</span></td>
                    </tr>

                    <tr>
                        <th style="font-weight: bold;"><i class="fas fa-birthday-cake"></i> Day of birth</th>
                        <td><span>{$person['birth_day']}</span></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="d-flex justify-content-center pt-4">
            <div class="border w-50 shadow pb-2">
                <div class="border background">
                    <h3 class="pb-2 pt-2"><i class="fas fa-address-book"></i> Address</h3>
                </div>

                <table class='table table-hover table-striped'> 
                    <tr>
                        <th style="font-weight: bold;"><i class="fas fa-map-marker-alt"></i> Address</th>
                        <td><span>{$person['street_name']}</span><span> </span><span>{$person['street_number']}</span><span>, </span><span>{$person['city']}</span></td>
                        <td><span>{$person['zip']}</span><span> </span><span>{$person['country']}</span></td>                        
                    </tr>
                </table>

            </div>
        </div>

        <div class="d-flex justify-content-center pt-4">
            <div class="border w-50 shadow pb-2">
                <div class="border background">
                    <h3 class="pb-2 pt-2"><i class="fas fa-id-card"></i> Contact </h3>
                        <a href="{link newContact}?id_person={$person['id_person']}">                  
                            <button class="btn btn-success">
                                <span class="fas fa-plus"></span> Add
                            </button>
                        </a>
                    
                </div>

                <table class='table table-hover table-striped'>
                        {foreach $contact as $c}
                            <tr>
                                {if $c['name'] == 'facebook'}
                                    <th style="font-weight: bold;"><i class="fab fa-facebook-square"></i> Facebook</th>
                                {/if}

                                {if $c['name'] == 'skype'}
                                    <th style="font-weight: bold;"><i class="fab fa-skype"></i> Skype</th>
                                {/if}

                                {if $c['name'] == 'tel'}
                                    <th style="font-weight: bold;"><i class="fas fa-mobile-alt"></i> Phone number</th>
                                {/if}

                                {if $c['name'] == 'email'}
                                    <th style="font-weight: bold;"><i class="fas fa-at"></i> Email</th>
                                {/if}

                                {if $c['name'] == 'jabber'}
                                    <th style="font-weight: bold;"><i class="fab fa-comments"></i> Jabber</th>
                                {/if}

                                {if $c['name'] == 'web'}
                                    <th style="font-weight: bold;"><i class="fab fa-safari"> Website</i></th>
                                {/if}
                               
                                <td><span>{$c['contact']}</span></td>
                                <td>
                                    <form onsubmit="return confirm('Do you really want to delete this contact?')" method="post" action="{link deleteContact}?id_contact={$c['id_contact']}">
                                        <button class="btn-sm btn-danger">
                                            <span class="fas fa-trash"></span>
                                        </button>
                                    </form> 
                                    
                                </td>
                                                                                        
                            </tr>  
                        {/foreach}                                     
                </table>
            </div>
        </div>

        <div class="d-flex justify-content-center pt-4">
            <div class="border w-50 shadow pb-2">
                <div class="border background">
                    <h3 class="pb-2 pt-2"><i class="fas fa-user-friends"></i> Relations</h3>
                    <a href="{link relationAdd}">                            
                        <button class="btn btn-success">
                            <span class="fas fa-plus"></span> Add
                        </button>
                    </a>
                </div>

                <table class='table table-hover table-striped'>
                        
                        {foreach $relation as $r}
                            <tr>
                                {if $r['name'] == 'friend'}
                                    <th style="font-weight: bold;"> Friend</th>
                                {/if}

                                {if $r['name'] == 'enemy'}
                                    <th style="font-weight: bold;"> Enemy</th>
                                {/if}

                                {if $r['name'] == 'partner'}
                                    <th style="font-weight: bold;"> Partner</th>
                                {/if}

                                {if $r['name'] == 'colleague'}
                                    <th style="font-weight: bold;"> Colleague</th>
                                {/if}

                                {if $r['name'] == 'acquaintance'}
                                    <th style="font-weight: bold;"> Acquaintance</th>
                                {/if}

                                {if $r['name'] == 'lover'}
                                    <th style="font-weight: bold;"> Lover</th>
                                {/if}

                                {if $r['name'] == 'family'}
                                    <th style="font-weight: bold;"> Family</th>
                                {/if}

                                {if $r['name'] == 'spouse'}
                                    <th style="font-weight: bold;"> Spouse</th>
                                {/if}

                                <td><span>{$r['friend_first_name']}</span> <span>{$r['friend_last_name']}</span> <span>{$r['description']}</span>
                                </td>

                                <td>
                                   <form onsubmit="return confirm('Do you really want to delete this relation?')" method="post" action="{link deleteRelation}?id_relation={$r['id_relation']}">
                                        <button class="btn-sm btn-danger">
                                            <span class="fas fa-trash"></span>
                                        </button>
                                   </form> 
                                    
                                </td>
                                                                
                            </tr>  
                        {/foreach}                                                         
                </table>
            </div>
        </div>        
   </div>
{/block}