{extends layout.latte}

{block title}
    Meeting info
{/block}

{block body}
    <div class="container text-center">
        <div class="d-flex justify-content-center pt-3">
            <div class="border w-50 shadow pb-2">
                <div class="border background">
                    <h3 class="pb-2 pt-2"><i class="fas fa-info"></i> Meeting info</h3>
                </div>
                
                <table class='table table-hover table-striped'>                     
                    <tr>
                        <th style="font-weight: bold;"><i class="fas fa-clock"></i> Date</th>
                        <td><span>{$meeting['start']}</span></td>
                    </tr>

                    <tr>                
                        <th style="font-weight: bold;"><i class="fas fa-hourglass-half"></i> Duration</th>
                        <td><span>{$meeting['duration']}</span></td>
                    </tr>

                    <tr>
                        <th style="font-weight: bold;"><i class="fas fa-info-circle"></i> Description</th>
                        <td><span>{$meeting['description']}</span></td>
                    </tr>

                </table>

            </div>
        </div>
       

        <div class="d-flex justify-content-center pt-4">
            <div class="border w-50 shadow pb-2">
                <div class="border background">
                    <h3 class="pb-2 pt-2"><i class="fas fa-compass"></i> Location</h3>
                </div>

                <table class='table table-hover table-striped'> 
                    <tr>
                        <th style="font-weight: bold;"><i class="fas fa-map-marker-alt"></i> Where</th>
                        <td><span>{$meeting['street_name']}</span><span> </span><span>{$meeting['street_number']}</span><span>, </span><span>{$meeting['city']}</span></td>
                        <td><span>{$meeting['zip']}</span><span> </span><span>{$meeting['country']}</span></td>                        
                    </tr>
                </table>

            </div>
        </div>

        <div class="d-flex justify-content-center pt-4">
            <div class="border w-50 shadow pb-2">
                <div class="border background">
                    <h3 class="pb-2 pt-2"><i class="fas fa-user-friends"></i> People </h3>
                        <a href="{link joinMeeting}?id_meeting={$meeting['id_meeting']}">                  
                            <button class="btn btn-success">
                                <span class="fas fa-plus"></span> Add
                            </button>
                        </a>
                    
                </div>

                <table class='table table-hover table-striped'>
                        {foreach $person as $p}
                            <tr>
                                <td><span>{$p['first_name']}</span><span> </span><span>{$p['last_name']}</span></td>
                                <td>
                                    <form onsubmit="return confirm('Do you really want to delete this person from meeting?')" method="post" action="{link deleteMeeting_Person}?id_person={$p['id_person']}&id_meeting={$meeting['id_meeting']}">
                                        <button class="btn-sm btn-danger">
                                            <span class="fas fa-user-times"></span>
                                        </button>
                                    </form> 
                                    
                                </td>                           
                            </tr>  
                        {/foreach}                                     
                </table>
            </div>
        </div>


    </div>
{/block}