{extends layout.latte}

{block title}
    Meeting info
{/block}

{block body}

{if isset($message)}
            <p>{$message}</p>
        {/if}
        <form method="post">
            <div class="form-row">
                <div class="col-sm-4 form-group">
                <label for="height" style="font-weight: bold; text-align: center;">Select the person you want to join:</label>    
                    <select class="form-control" type="text" name="id_person"required>
                        {foreach $person_list as $p}
                            <option value="{$p['id_person']}">{$p['first_name']} {$p['last_name']},    {$p['nickname']}</option>
                        {/foreach}
                    </select>
                </div> 
            </div>
            <br>
            <button type="submit" class="btn btn-success">
                <span class="fa fa-plus"></span> Add person
            </button>
        </form>
    </div>
{/block}