{extends layout.latte}

{block title}
	Meeting list
{/block}

{block body}
	<div class = "container md-5">
		<div>
			<h2>Meeting list</h2>
		</div>
		<div>
			<a href="{link newMeeting}" class="btn btn-success"><i class="fas fa-calendar-plus"></i> Add new meeting
			</a>
	
		</div>
				
		<table class='table table-hover table-striped'>
			<thead class="thead-dark">
			
			<tr>
				<th>Start</th>
				<th>Description</th>
				<th>Address</th>
				<th></th>
				<th></th>
				<th></th>

			{foreach $meeting_list as $mL}
				<tr>
					<td>{$mL['start']}</td>
					<td>{$mL['description']}</td>
					<td>{$mL['address']}</td>
					<td></td>
					
					{if !empty($_COOKIE['token'])}

						<td>
							<a href="{link infoMeeting}?id_meeting={$mL['id_meeting']}">
								<button class="btn-sm btn-info">
									<span class="fas fa-info"></span> Info
								</button>
						</td>
						
						<td>
							<form onsubmit="return confirm('Do you really want to delete this meeting?')" method="post" action="{link deleteMeeting}?id_meeting={$mL['id_meeting']}">
								<button class="btn-sm btn-danger"><i class="fas fa-trash"></i> Delete</button>
							</form>
						</td>
					
					{else}
						<td colspan="2" class="text-center">You have to log in for these actions!</td>
					{/if}
				</tr>
			{/foreach}
		</table>
{/block}