{block menu}
<nav>
	<ul>
		<li><a href="{link index}"><i class="fas fa-home"></i> Home</a></li>
		<li><a href="{link persons}"><i class="fas fa-users"></i> Persons</a></li>
		<li><a href="{link relation}"><i class="fas fa-handshake"></i> Relations</a></li>
		<li><a href="{link meetings}"><i class="fas fa-id-card"></i></i> Meetings</a></li>

		{if !empty($_COOKIE['token'])}
			<li><a href="{link logout}"><i class="fas fa-sign-out-alt"></i> LogOut</a></li>
		{else}
			<li><a href="{link register}"><i class="fas fa-plus-square"></i> Register</a></li>
			<li><a href="{link login}"><i class="fas fa-sign-in-alt"></i> LogIn</a></li>
		{/if}
	</ul>
</nav>
{/block}

