{extends layout.latte}

{block title} New meeting{/block}


{block body}

        {if isset($message)}
        <div class="text-center">
            <div class="p-3 mb-2 bg-danger text-white">
                <p class="text-white">
                    <strong>{$message}</strong>
                </p>

            </div>
        </div>
        {/if}

        <form method="post">
    <h2>Create a new meeting</h2>
            <div class="form-row">
                <!-- Description -->
                <div class="col-sm-3 form-group">    
                    <label for="fname1">Description</label>
                    <input class="form-control" type="text" name="description" placeholder="Description" value="{$formData['description']}" required>
                </div>
                <!-- Duration -->
                <div class="col-sm-3 form-group">
                    <label for="lname1">Duration</label> 
                    <input class="form-control" type="timestamp" name="duration" placeholder="01:00:00" value="{$formData['duration']}" required>
                </div>
                <!-- Start of the meeting-->
                <div class="col-sm-3 form-group">
                    <label for="start">Start of the meeting</label> 
                    <input class="form-control" type="datetime-local" name="start" placeholder="2016-09-17 11:30:00+02" required value="{$formData['start']}" required>
                </div>
            </div>

            <div class="form-row">
                <!-- Location -->
                <div class="col-sm-3 form-group"> 
                    <label for="city">Location </label>
                    <select name="id_location" class="form-control" id="scroll" required>
                        {foreach $location_list as $l}
                            <option value={$l['id_location']}><span>{$l['city']}</span><span>, </span><span>{$l['street_name']}</span><span> </span><span>{$l['street_number']}</span></option>
                        {/foreach}
                    </select>
                </div>               
            </div>

            <br>

            <button type="submit" class="btn btn-success">
                <span class="fa fa-plus"></span>  Make new meeting
            </button>
        </form>
    </div>   
{/block}                 