{extends layout.latte}

{block title}
	Persons list
{/block}

{block body}
	<div class = "container md-5">
		<div>
			<h2>Persons list</h2>
		</div>
		
		<form method = 'get' action="{link search}">
			<div class="input-group-append mb-3">
				<input type="text" name="query" class="form-control text-left" placeholder="Search for user">

				<div class="input-group-append">
					<button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i> Search</button>
				</div>
			</div>
		</form>
		<div>
			<a href="{link newPerson}" class="btn btn-success"><i class="fas fa-user-plus"></i> Add new person
		</a>
	
		</div>

		
		<table class='table table-hover table-striped'>
			<thead class="thead-dark">
			
			<tr>
				<th>First name</th>
				<th>Last name</th>
				<th>Nickname</th>
				<th>Height</th>
				<th></th>
				<th>Action</th>
				<th></th>
			{foreach $persons_list as $p}
				<tr>
					<td>{$p['first_name']}</td>
					<td>{$p['last_name']}</td>
					<td>{$p['nickname']}</td>
					<td>{$p['height']}</td>
					
					{if !empty($_COOKIE['token'])}

						<td>
							<a href="{link infoPerson}?id_person={$p['id_person']}">
								<button class="btn-sm btn-info">
									<span class="fas fa-info"></span> Info
								</button>
						</td>

						<td>
							<a href="{link updatePerson, [id_person => $p['id_person'] ] }">
								<button class="btn-sm btn-primary">
									<span class="fa fa-edit"></span> Edit
								</button>
							</a>
						</td>
						
						<td>
							<form onsubmit="return confirm('Do you really want to delete this person?')" method="get" action="{link deletePerson,[id_person => $p['id_person']]}">
								<button class="btn-sm btn-danger"><i class="fas fa-trash"></i> Delete</button>
							</form>
						</td>
					{else}
						<td colspan="2" class="text-center">You have to log in for these actions!</td>
					{/if}
				</tr>
			{/foreach}
		</table>
		<table id="pagination">
			<tr>
				{for $i=0; $i < $total_pages; $i ++}
				<td>
					<a href="{link persons}?page={$i}&limit={$limit}">{$i + 1}</a>
				</td>
				{/for}
			</tr>
		</table>	
	</div>

{/block}