{extends layout.latte}

{block title}
	{$title}
{/block}

{block body}

<div class="container">
	<h1>{$title}</h1>

	<form method="post">
      <div class="form-row">
         <!-- Email -->
         <div class="col-sm-3 form-group">    
            <label for="email"><i class="fas fa-at"></i> Email</label>
            <input class="form-control" type="email" name="email" placeholder="Email" required value="{$formData['email']}">
         </div>
         <!-- Password -->
         <div class="col-sm-3 form-group">
            <label for="password"><i class="fas fa-key"></i> Password</label> 
            <input class="form-control" type="password" name="password" placeholder="Password" required value="{$formData['password']}">
         </div>             
      </div>
   
     
      <button type="submit" class="btn btn-success">
      <span class="fas fa-plus"></span> Sign In
      </button>
   </form>
</div>
	

{/block}