{extends layout.latte}

{block title}
	Relation list
{/block}

{block body}
	<div class = "container md-5">
		<div>
			<h2>Relations list</h2>
		</div>
		
		<!--
		<form method = 'get' action="{link search}">
			<div class="input-group-append mb-3">
				<input type="text" name="query" class="form-control text-left" placeholder="Search for user">

				
					<div class="input-group-append">
					<button type="submit" class="btn btn-outline-primary"><i class="fas fa-search"></i> Search</button>
				</div>

				

			</div>
		</form>

		-->

		<div>
			<a href="{link relationAdd}" class="btn btn-success"><i class="fas fa-user-plus"></i> Add new relation
			</a>
	
		</div>

		
		<table class='table table-striped table-hover'>
			<thead class="thead-dark">
			
			<tr>
				<th>First person</th>
				<th>Type</th>
				<th>Second person</th>
				<th>Description</th>
				<th></th>
				<th></th>
				
			{foreach $relation_list as $rl}
				<tr>
				
					<td>{$rl['person_name']}</td>
					<td>{$rl['name']}</td>
					<td>{$rl['friend_name']}</td>
					<td>{$rl['description']}</td>
					<td></td>
										
					{if !empty($_COOKIE['token'])}
											
						<td>
							<form onsubmit="return confirm('Do you really want to delete this relation?')" method="post" action="{link deleteRelation}?id_relation={$rl['id_relation']}">
								<button class="btn-sm btn-danger"><i class="fas fa-trash"></i></button>
							</form>							
						</td>
					{else}
						<td colspan="2" class="text-center">You have to log in for this action!</td>
					{/if}
					
					

				</tr>
			{/foreach}
		</table>
		<table id="pagination">
			<tr>
				
				{for $i=0; $i < $total_pages; $i ++}
				<td>
					<a href="{link relation}?page={$i}&limit={$limit}">{$i + 1}</a>
				</td>
				{/for}
				
			</tr>
		</table>	
	</div>

{/block}