{extends layout.latte}

{block title} {$header} {/block}


{block body}
<div class="container">
   <h1>{$header}</h1>  

   <!-- Sem vypiseme pripadnu hlasku -->
   {if isset($message)}
   <p>{$message}</p>
   {/if}
   <form method="post">
      <div class="form-row">

         <div class="col-sm-3">
            <div class="form-group">
               <label for="firstPerson" style="font-weight: bold;">First person</label>
               <select class="form-control" name="id_person1">
                  {foreach $persons as $p}
                  <option value="{$p['id_person']}">
                     <tr>
                        <td>{$p['person_name']}</td>
                        
                     </tr>
                  </option>
                  {/foreach}
               </select>
            </div> 
         </div>

         <div class="col-sm-3">
            <div class="form-group">
               <label for="secondPerson" style="font-weight: bold;">Second person</label>
               <select class="form-control" name="id_person2">
                  {foreach $persons as $p}
                  <option value="{$p['id_person']}">
                     <tr>
                        <td>{$p['person_name']}</td>
                        
                     </tr>
                  </option>
                  {/foreach}
               </select>
            </div> 
         </div>               
      </div>
   
      <label for="name" style="font-weight: bold;">Type</label>
      <select class="form-control" name="id_relation_type" required>
         <option value="1" >Friend</option>
         <option value="2" >Enemy</option>
         <option value="3" >Partner</option>
         <option value="4" >Colleague</option>
         <option value="5" >Acquaintance</option>
         <option value="6" >Lover</option>
         <option value="7" >Family</option>
         <option value="8" >Spouse</option>
      </select>
      <br>
      <div class="form-group">
         <label for="description" style="font-weight: bold;">Description</label>
         <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3" placeholder="Description..." style="text-align: left;"></textarea>
      </div>
      <br>
      <button class="btn btn-success btn-lg btn-block" type="submit">Make new relation</button>
   </form>      
</div>
{/block}