{extends layout.latte}
{block title}{/block}
{block body}
<body class="bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Relations</h1>
    </div>

    <div class="row">
    <div class="col-9 ml-auto justify-content-sm-center">
        <div class="row">

            <div class="col-md-8  align-items-center order-md-1">
                <table class="table table-striped">
                <thead class="thead-dark">

                <tr>
                    <th scope="col">First person</th>
                    <th scope="col">Second person</th>
                    <th scope="col">Relation type</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                {foreach $relation as $r}
                    <tr>
                        <td>{$r['id_person1']}</td>
                        <td>{$r['id_person2']}</td>
                        <td>{$r['id_relation_type']}</td>
                        <td>{$r['description']}</td>

                    </tr>
                {/foreach}
                </table>
            </div>

        </div>

    </div>

</div>

</div>
</body>

